.abstract{}
.article-container {

}
.article-container > h1 {
    height: 100vh;
    
}
.article-container > p {}
.article-container > h2 {}
@media screen and (max-width: 960px) {
    .article-container > h1 {}
}
@media screen and (max-width: 768px) {
    .article-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }
    .article-container > p {
        font-size: 30px;
    }
    .btn-mobile > h1 {
        display: block;
        text-decoration: none;
    }
    .btn {
        width: 100%;
    }
}